@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
:root
{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --purple : #93278F;
}
body
{
    font-family: var(--sm-font);
}
body::-webkit-scrollbar
{
    display: none;
}
/*navbar*/
.bg-primary
{
    background-color: var(--purple);
}
.text-primary
{
    color: var(--purple)!important;
}
.navbar
{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand span
{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover
{
    transition: color 0.3s ease;
    color: var(--purple)!important;
}
.nav-link
{
    transition: color 0.3s ease;
}
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--purple);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}
.btn-primary
{
    background-color: #93278F;
    border-color: #93278F;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}
.btn-primary:hover
{
    background-color: #7a1f77;
    border-color: #7a1f77;
}
.btn-outline-primary
{
    color: #93278F;
    border-color: #93278F;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}
.btn-outline-primary:hover
{
    background-color:#93278F;
    border-color: #93278F;
    color: #fff;
}
/*header*/
video
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2222222222222222;
}
#head2
{
    padding-top: 200px;
    text-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
h1
{
    font-size: 60px;
    font-family: var(--lg-font);
}
/* trainings */
#wd,#d,#gd
{
    height: 220px;
}
#bt
{
    text-align: center;
}
#btn
{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #000;
    background-color: white;
    color: black;
    transition: color 0.3s ease;
}
#btn:hover
{
    border: 1px solid #93278F;
    background-color: #93278F;
    color: #fff;
    transition: color 0.3s ease;
}
#btn2
{
    width: 160px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #000;
    background-color: white;
    color: black;
    transition: color 0.3s ease;
    padding: 10px;
}
#btn2:hover
{
    border: 1px solid #93278F;
    background-color: #93278F;
    color: #fff;
    transition: color 0.3s ease;
}

/* offers */
#offers{
    background: url(../images/dis3.png) center/cover no-repeat;
}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--lg-font);
}
/*about*/
#about1{
    background: url(../images/bg.svg) center/cover no-repeat;
    padding-top: 610px;
}
#about1 .row{
    min-height: 60vh;
}
#about1 h2{
    font-size: 70px;
    font-family: var(--lg-font);
}
#dis
{
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    height: 50px;
    padding-top: 12px;
    width: 180px;
}
#dis:hover
{
    border: 1px solid #93278F;
    background-color: #93278F;
    color: #fff!important;
}
/* footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a
{
    transition: color 0.3s ease;
}
footer a:hover
{
    color: var(--purple)!important;
}
.form-control{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-top: 0.6rem;
	transition: .3s;
}
.dropdown-list {
    display: none;
    position: absolute;
    width: 130px;
    z-index: 1;
  }
  
  .dropdown-list a {
    display: block;
    padding: 10px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
  }
  
  .dropdown-list a:hover {
    background-color: #ccc;
  }
/* media queries */
@media(min-width: 992px)
{
    .nav-item{
        border-bottom: none;
    }
}